.df-post-wrapper .filter_bw,
.filter_bw {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  /*filter: url(grayscale.svg);*/
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.df-post-wrapper:hover .filter_bw,
.filter_bw:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  /*filter: url(grayscale.svg);*/
  filter: gray;
  -webkit-filter: grayscale(0);
}
